.geojson-container {
    background-color:#ededed;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 1rem;
    font-family: monospace;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
  }
  